@import "styles/variables";
.subtitle {
  color: $space;
  font-size: 20px;

}
.container {
  padding-top: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hr {
  display: block;
  border: 0.5px solid $stone;
}

.analysisInformation {
  font-size: 22px;
  color: $stone;
  font-weight: 300;
}
