@import '../../styles/variables';

.boxContainer {
  width: 50%;
  height: 100%;
  position: relative;
}

.closeIconLeft, .closeIconRight {
  position: absolute;
  top: 15px;
}

.closeIconLeft {
  left: 15px;
}

.closeIconRight {
  right: 15px;
}
