@import "styles/variables";
.container {
  padding: 4% 8%  ;
}

.navContainer {
  border: $stone solid 1px;
  border-radius: 10px;
}

.selectNewFileContainer {
  margin: 0 10px;
}

.filesContainer {
  height: 230px;
  overflow-y: auto;
}

.learningsContainer {
  margin: 10px 0;
}
